body {
	margin: 0; height: 100%;
  overflow: hidden;
}

a{
	cursor: pointer;
}

nav{
  position: fixed;
  z-index: 2;
}

h1{
  padding: 20px;
}
.section{
	text-align:center;
}

.header{
  z-index: 2;
  display: inline;
  position: absolute;
  top: 180px;
  left: 0px;
  width: 100vw;
  height: 50px;
  background-color: red;
}

#wrapitall{

  width:100vh;
  height:100vw;
}

.wrapshop{
  background-color: blue;
  width: 100vw;
  height: 100vh;
  padding: 100px 40px 40px 100px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.startbutton {
border: none;
color: white;
padding-top: 25px;
padding-bottom:30px;
padding-left: 55px;
padding-right: 55px;
text-align: center;
text-decoration: none;
display: inline-block;
font-family: giulia-plain, sans-serif;
font-weight: 300;
font-size: 100px;
margin: 4px 2px;
cursor: pointer;
border-radius: 30px;
}

.items{
float: left;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  background-color: green;
  height: 200px;
  width: 200px;
}
